In [339]:
# EJERCICIO 2 - PRIMERAS CONSULTAS

In [340]:
import psycopg2
import pandas as pd
import numpy as np
from datetime import datetime

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

import warnings
warnings.filterwarnings('ignore')

In [341]:
conn = psycopg2.connect(host = "localhost", 
                        database = "northwind",
                        user = "postgres", 
                        password = "1234")

In [342]:
# Función general de ejecución de consultas

def ejecutar_query (query):
  cursor = conn.cursor() # Creamos una variable con la que iniciamos el cursor
  cursor.execute(query) # Ejecutamos la query
  rows = cursor.fetchall() # Creamos una variable con el restultado de la query en forma de lista de tuplas

  if (len(rows) >0):
    tabla = pd.DataFrame(rows)# Genereamos un DataFrame a partir de la variable anterior
    colnames = [desc[0] for desc in cursor.description] # Recuperamos los nombres de las columnas de la BBDD
    tabla = tabla.set_axis(colnames, axis = 1)# Renombramos las columnas del DF creado para que coincidan con las de la BBDD
    return tabla
  else:
    return "Sin resultados"

In [343]:
# 1. Qué empleados tenemos?

sql_query = ''' SELECT "employee_id", "first_name", "last_name", "city", "country"
FROM    "employees" '''

ejecutar_query(sql_query)

   employee_id first_name  last_name      city country
0            1      Nancy    Davolio   Seattle     USA
1            2     Andrew     Fuller    Tacoma     USA
2            3      Janet  Leverling  Kirkland     USA
3            4   Margaret    Peacock   Redmond     USA
4            5     Steven   Buchanan    London      UK
5            6    Michael     Suyama    London      UK
6            7     Robert       King    London      UK
7            8      Laura   Callahan   Seattle     USA
8            9       Anne  Dodsworth    London      UK

In [344]:
# 2. Qué productos tenemos?

sql_query = ''' SELECT "product_id", "supplier_id", "product_name", "unit_price", "units_in_stock", "units_on_order", "discontinued"
FROM    "products" '''

ejecutar_query(sql_query)

,product_id,supplier_id,product_name,unit_price,units_in_stock,units_on_order,discontinued
0,1,8,Chai,18.00,39,0,1
1,2,1,Chang,19.00,17,40,1
2,3,1,Aniseed Syrup,10.00,13,70,0
3,4,2,Chef Anton's Cajun Seasoning,22.00,53,0,0
4,5,2,Chef Anton's Gumbo Mix,21.35,0,0,1
...,...,...,...,...,...,...,...
72,73,17,Röd Kaviar,15.00,101,0,0
73,74,4,Longlife Tofu,10.00,4,20,0
74,75,12,Rhönbräu Klosterbier,7.75,125,0,0
75,76,23,Lakkalikööri,18.00,57,0,0
76,77,12,Original Frankfurter grüne Soße,13.00,32,0,0

In [345]:
# 3. Tenemos productos discontinuados?

sql_query = ''' SELECT "product_name", "units_in_stock"
FROM    "products" 
WHERE "discontinued" = 1
'''

ejecutar_query(sql_query)

                    product_name  units_in_stock
0                           Chai              39
1                          Chang              17
2         Chef Anton's Gumbo Mix               0
3                Mishi Kobe Niku              29
4                   Alice Mutton               0
5             Guaraná Fantástica              20
6              Rössle Sauerkraut              26
7        Thüringer Rostbratwurst               0
8  Singaporean Hokkien Fried Mee              26
9                  Perth Pasties               0

In [346]:
# 4. Qué proveedores tenemos?

sql_query = ''' SELECT "supplier_id", "company_name", "city", "country" 
FROM suppliers '''

ejecutar_query(sql_query)

,supplier_id,company_name,city,country
0,1,Exotic Liquids,London,UK
1,2,New Orleans Cajun Delights,New Orleans,USA
2,3,Grandma Kelly's Homestead,Ann Arbor,USA
3,4,Tokyo Traders,Tokyo,Japan
4,5,Cooperativa de Quesos 'Las Cabras',Oviedo,Spain
5,6,Mayumi's,Osaka,Japan
6,7,"Pavlova, Ltd.",Melbourne,Australia
7,8,"Specialty Biscuits, Ltd.",Manchester,UK
8,9,PB Knäckebröd AB,Göteborg,Sweden
9,10,Refrescos Americanas LTDA,Sao Paulo,Brazil
10,11,Heli Süßwaren GmbH & Co. KG,Berlin,Germany
11,12,Plutzer Lebensmittelgroßmärkte AG,Frankfurt,Germany
12,13,Nord-Ost-Fisch Handelsgesellschaft mbH,Cuxhaven,Germany
13,14,Formaggi Fortini s.r.l.,Ravenna,Italy
14,15,Norske Meierier,Sandvika,Norway
15,16,Bigfoot Breweries,Bend,USA
16,17,Svensk Sjöföda AB,Stockholm,Sweden
17,18,Aux joyeux ecclésiastiques,Paris,France
18,19,New England Seafood Cannery,Boston,USA
19,20,Leka Trading,Singapore,Singapore
20,21,Lyngbysild,Lyngby,Denmark
21,22,Zaanse Snoepfabriek,Zaandam,Netherlands
22,23,Karkki Oy,Lappeenranta,Finland
23,24,"G'day, Mate",Sydney,Australia
24,25,Ma Maison,Montréal,Canada
25,26,Pasta Buttini s.r.l.,Salerno,Italy
26,27,Escargots Nouveaux,Montceau,France
27,28,Gai pâturage,Annecy,France
28,29,Forêts d'érables,Ste-Hyacinthe,Canada

In [347]:
# 5. Qué pedidos hemos tenido?

sql_query = ''' SELECT "order_id", "customer_id", "employee_id", "order_date", "required_date", "shipped_date"
FROM orders
 '''

ejecutar_query(sql_query)

     order_id customer_id  employee_id  order_date required_date shipped_date
0       10248       VINET            5  1996-07-04    1996-08-01   1996-07-16
1       10249       TOMSP            6  1996-07-05    1996-08-16   1996-07-10
2       10250       HANAR            4  1996-07-08    1996-08-05   1996-07-12
3       10251       VICTE            3  1996-07-08    1996-08-05   1996-07-15
4       10252       SUPRD            4  1996-07-09    1996-08-06   1996-07-11
..        ...         ...          ...         ...           ...          ...
825     11073       PERIC            2  1998-05-05    1998-06-02         None
826     11074       SIMOB            7  1998-05-06    1998-06-03         None
827     11075       RICSU            8  1998-05-06    1998-06-03         None
828     11076       BONAP            4  1998-05-06    1998-06-03         None
829     11077       RATTC            1  1998-05-06    1998-06-03         None

[830 rows x 6 columns]

In [348]:
# 6. Cuántos pedidos hemos tenido?

sql_query = ''' SELECT count("order_id") as num_pedidos
FROM orders
 '''

ejecutar_query(sql_query)

   num_pedidos
0          830

In [349]:
# 7. Cuántos clientes tenemos?

sql_query = ''' SELECT "customer_id", "company_name", "city", "country" 
FROM customers '''

ejecutar_query(sql_query)

   customer_id                        company_name         city  country
0        ALFKI                 Alfreds Futterkiste       Berlin  Germany
1        ANATR  Ana Trujillo Emparedados y helados  México D.F.   Mexico
2        ANTON             Antonio Moreno Taquería  México D.F.   Mexico
3        AROUT                     Around the Horn       London       UK
4        BERGS                  Berglunds snabbköp        Luleå   Sweden
..         ...                                 ...          ...      ...
86       WARTH                      Wartian Herkku         Oulu  Finland
87       WELLI              Wellington Importadora      Resende   Brazil
88       WHITC                White Clover Markets      Seattle      USA
89       WILMK                         Wilman Kala     Helsinki  Finland
90       WOLZA                      Wolski  Zajazd     Warszawa   Poland

[91 rows x 4 columns]

In [350]:
# 8. Con qué empresas de transporte trabajamos?

sql_query = ''' SELECT "shipper_id", "company_name"
FROM shippers '''

ejecutar_query(sql_query)

   shipper_id       company_name
0           1     Speedy Express
1           2     United Package
2           3   Federal Shipping
3           4  Alliance Shippers
4           5                UPS
5           6                DHL

In [351]:
# 10. Cómo son las relaciones de reporte de resultados entre los empleados?

sql_query = ''' SELECT "employee_id", "first_name", "last_name", "title", "reports_to" 
FROM employees '''

df_employees_report_to = ejecutar_query(sql_query)
# df_employees_report_to

df_employees_report_to['reports_to'] = df_employees_report_to['reports_to'].apply(lambda x: int(x) if pd.notna(x) else np.nan)
df_employees_report_to['reports_to'] = df_employees_report_to['reports_to'].astype('Int64')

id_to_name = {row['employee_id']: f"{row['first_name']} {row['last_name']}" for _, row in df_employees_report_to.iterrows()}
id_to_name

{1: 'Nancy Davolio',
 2: 'Andrew Fuller',
 3: 'Janet Leverling',
 4: 'Margaret Peacock',
 5: 'Steven Buchanan',
 6: 'Michael Suyama',
 7: 'Robert King',
 8: 'Laura Callahan',
 9: 'Anne Dodsworth'}

In [352]:
df_employees_report_to['reports_to_name'] = df_employees_report_to['reports_to'].apply(lambda x: id_to_name.get(x, None))

df_employees_report_to

# se observa que toda la plantilla o reporta a Andrew que es el Vice Presidente de Ventas, o a Steven que es el Gerente de Ventas

,employee_id,first_name,last_name,title,reports_to,reports_to_name
0,1,Nancy,Davolio,Sales Representative,2,Andrew Fuller
1,2,Andrew,Fuller,"Vice President, Sales",<NA>,None
2,3,Janet,Leverling,Sales Representative,2,Andrew Fuller
3,4,Margaret,Peacock,Sales Representative,2,Andrew Fuller
4,5,Steven,Buchanan,Sales Manager,2,Andrew Fuller
5,6,Michael,Suyama,Sales Representative,5,Steven Buchanan
6,7,Robert,King,Sales Representative,5,Steven Buchanan
7,8,Laura,Callahan,Inside Sales Coordinator,2,Andrew Fuller
8,9,Anne,Dodsworth,Sales Representative,5,Steven Buchanan

## EJERCICIO 3 - ANÁLISIS DE LA EMPRESA

In [353]:
# Crear dataframe de las tablas de pedidos y clientes

sql_query = ''' SELECT "order_id", "customer_id", "ship_via", "employee_id", "order_date", "required_date", "shipped_date"
FROM orders
 '''
df_pedidos = ejecutar_query(sql_query)

sql_query = ''' SELECT "customer_id", "company_name" as client_name, "city", "country" 
FROM customers '''
df_clientes =  ejecutar_query(sql_query)

sql_query = ''' SELECT "shipper_id", "company_name" as shipper_name
FROM shippers '''
df_transportistas = ejecutar_query(sql_query)

df_pedidos_clientes = df_pedidos.merge(df_clientes,how = 'inner', on = 'customer_id')
df_pedidos_clientes

df_pedidos_clientes_transportistas = df_pedidos_clientes.merge(df_transportistas, how = 'inner', left_on='ship_via', right_on='shipper_id')
df_pedidos_clientes_transportistas.head()

,order_id,customer_id,ship_via,employee_id,order_date,required_date,shipped_date,client_name,city,country,shipper_id,shipper_name
0,10248,VINET,3,5,1996-07-04,1996-08-01,1996-07-16,Vins et alcools Chevalier,Reims,France,3,Federal Shipping
1,10249,TOMSP,1,6,1996-07-05,1996-08-16,1996-07-10,Toms Spezialitäten,Münster,Germany,1,Speedy Express
2,10250,HANAR,2,4,1996-07-08,1996-08-05,1996-07-12,Hanari Carnes,Rio de Janeiro,Brazil,2,United Package
3,10251,VICTE,1,3,1996-07-08,1996-08-05,1996-07-15,Victuailles en stock,Lyon,France,1,Speedy Express
4,10252,SUPRD,2,4,1996-07-09,1996-08-06,1996-07-11,Suprêmes délices,Charleroi,Belgium,2,United Package

In [354]:
#Creación del DataFrame con la info de productos, proveedores y detalles de los pedidos

sql_query = '''SELECT p.product_id,
                      p.product_name AS "Nombre_Producto",
                      p.unit_price AS "Precio_Unidad", 
                      p.units_in_stock AS "Unidades_Stock", 
                      p.units_on_order AS "Unidades_Pedidas", 
                      p.discontinued AS "Producto_Descontinuado", 
                      s.supplier_id ,
                      s.company_name AS "Nombre_Proveedor", 
                      s.city AS "Ciudad_Proveedor", 
                      s.country AS "País_Proveedor",
                      od.order_id, 
                      od.unit_price AS "Precio_Unidad", 
                      od.quantity AS "Cantidad", 
                      od.discount AS "Descuento"
FROM products AS p
FULL JOIN suppliers AS s
ON p.supplier_id = s.supplier_id
FULL JOIN order_details AS od
ON od.product_id = p.product_id -- Realizo dos FULL JOIN ya que me interesan tanto los registros que coinciden como los que no.
'''

prod_provee_det = ejecutar_query(sql_query)
prod_provee_det

,product_id,Nombre_Producto,Precio_Unidad,Unidades_Stock,Unidades_Pedidas,Producto_Descontinuado,supplier_id,Nombre_Proveedor,Ciudad_Proveedor,País_Proveedor,order_id,Precio_Unidad,Cantidad,Descuento
0,11,Queso Cabrales,21.00,22,30,0,5,Cooperativa de Quesos 'Las Cabras',Oviedo,Spain,10248,14.00,12,0.00
1,42,Singaporean Hokkien Fried Mee,14.00,26,0,1,20,Leka Trading,Singapore,Singapore,10248,9.80,10,0.00
2,72,Mozzarella di Giovanni,34.80,14,0,0,14,Formaggi Fortini s.r.l.,Ravenna,Italy,10248,34.80,5,0.00
3,14,Tofu,23.25,35,0,0,6,Mayumi's,Osaka,Japan,10249,18.60,9,0.00
4,51,Manjimup Dried Apples,53.00,20,0,0,24,"G'day, Mate",Sydney,Australia,10249,42.40,40,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2150,64,Wimmers gute Semmelknödel,33.25,22,80,0,12,Plutzer Lebensmittelgroßmärkte AG,Frankfurt,Germany,11077,33.25,2,0.03
2151,66,Louisiana Hot Spiced Okra,17.00,4,100,0,2,New Orleans Cajun Delights,New Orleans,USA,11077,17.00,1,0.00
2152,73,Röd Kaviar,15.00,101,0,0,17,Svensk Sjöföda AB,Stockholm,Sweden,11077,15.00,2,0.01
2153,75,Rhönbräu Klosterbier,7.75,125,0,0,12,Plutzer Lebensmittelgroßmärkte AG,Frankfurt,Germany,11077,7.75,4,0.00
2154,77,Original Frankfurter grüne Soße,13.00,32,0,0,12,Plutzer Lebensmittelgroßmärkte AG,Frankfurt,Germany,11077,13.00,2,0.00

In [355]:
# 1. Estudia el numero de pedidos, por mes y año y haz una gráfico que refleje una línea temporal

# convert the date column into a datetime object
df_pedidos_clientes['order_date'] = pd.to_datetime(df_pedidos_clientes['order_date'])

# extract month, and year components
df_pedidos_clientes['order_date_month'] = df_pedidos_clientes['order_date'].dt.month
df_pedidos_clientes['order_date_year'] = df_pedidos_clientes['order_date'].dt.year

df_pedidos_clientes

,order_id,customer_id,ship_via,employee_id,order_date,required_date,shipped_date,client_name,city,country,order_date_month,order_date_year
0,10248,VINET,3,5,1996-07-04,1996-08-01,1996-07-16,Vins et alcools Chevalier,Reims,France,7,1996
1,10249,TOMSP,1,6,1996-07-05,1996-08-16,1996-07-10,Toms Spezialitäten,Münster,Germany,7,1996
2,10250,HANAR,2,4,1996-07-08,1996-08-05,1996-07-12,Hanari Carnes,Rio de Janeiro,Brazil,7,1996
3,10251,VICTE,1,3,1996-07-08,1996-08-05,1996-07-15,Victuailles en stock,Lyon,France,7,1996
4,10252,SUPRD,2,4,1996-07-09,1996-08-06,1996-07-11,Suprêmes délices,Charleroi,Belgium,7,1996
...,...,...,...,...,...,...,...,...,...,...,...,...
825,11073,PERIC,2,2,1998-05-05,1998-06-02,None,Pericles Comidas clásicas,México D.F.,Mexico,5,1998
826,11074,SIMOB,2,7,1998-05-06,1998-06-03,None,Simons bistro,Kobenhavn,Denmark,5,1998
827,11075,RICSU,2,8,1998-05-06,1998-06-03,None,Richter Supermarkt,Genève,Switzerland,5,1998
828,11076,BONAP,2,4,1998-05-06,1998-06-03,None,Bon app',Marseille,France,5,1998
829,11077,RATTC,2,1,1998-05-06,1998-06-03,None,Rattlesnake Canyon Grocery,Albuquerque,USA,5,1998

In [356]:

total_orders_by_order_date = df_pedidos_clientes.groupby(['order_date_year', 'order_date_month'])['order_id'].count().reset_index()

nueva_columna = {"order_id":  "total_orders"}
total_orders_by_order_date.rename( columns = nueva_columna, inplace = True)

# se crea la nueva columna año-mes para poder después generar la gráfica de lineas ordenada por ese campo de tiempo
total_orders_by_order_date['Año-Mes'] = total_orders_by_order_date.apply(lambda row: f"{row['order_date_year']}-{row['order_date_month']}", axis=1)
total_orders_by_order_date.head()

   order_date_year  order_date_month  total_orders  Año-Mes
0             1996                 7            22   1996-7
1             1996                 8            25   1996-8
2             1996                 9            23   1996-9
3             1996                10            26  1996-10
4             1996                11            25  1996-11

In [357]:
# gráfica de líneas que muestra la evolución de los pedidos agrupados por mes
fig = px.line(total_orders_by_order_date, 
							x = 'Año-Mes', 
							y = 'total_orders', 
							text = 'total_orders')
fig.update_traces(textposition = "top center")
fig.update_layout(title = dict(text = "Pedidos realizados a lo largo del tiempo"))
fig.show()

In [358]:
# 2. Estudio de países - continentes y ventas
df_pedidos_por_pais = df_pedidos_clientes.groupby('country')['order_id'].count().reset_index()

continentes = {
                'Europe': ['Austria', 'Belgium', 'Denmark', 'Finland', 'France', 'Germany', 'Ireland', 'Italy', 'Norway', 'Poland', 'Portugal', 'Spain', 'Sweden', 'Switzerland', 'UK'],
                'America': ['Argentina', 'Brazil', 'Canada', 'Mexico', 'USA', 'Venezuela'] 
              }

pais_a_continente = {}
for continente, paises in continentes.items():
    for pais in paises:
        pais_a_continente[pais] = continente

df_pedidos_por_pais['continente'] = df_pedidos_por_pais['country'].map(pais_a_continente)
df_pedidos_por_pais = df_pedidos_por_pais.sort_values(by = 'order_id',ascending = False)

df_pedidos_por_pais

        country  order_id continente
19          USA       122    America
8       Germany       122     Europe
3        Brazil        83    America
7        France        77     Europe
18           UK        56     Europe
20    Venezuela        46    America
1       Austria        40     Europe
16       Sweden        37     Europe
4        Canada        30    America
11       Mexico        28    America
10        Italy        28     Europe
15        Spain        23     Europe
6       Finland        22     Europe
9       Ireland        19     Europe
2       Belgium        19     Europe
17  Switzerland        18     Europe
5       Denmark        18     Europe
0     Argentina        16    America
14     Portugal        13     Europe
13       Poland         7     Europe
12       Norway         6     Europe

In [359]:
# Agrupamos por continente
df_pedidos_por_continente = df_pedidos_por_pais.groupby('continente')['order_id'].sum().reset_index()
df_pedidos_por_continente

  continente  order_id
0    America       325
1     Europe       505

In [360]:
# Ahora crearemos nuestro pieplot ya que solo tenemos dos variables: america y europe
fig = px.pie(df_pedidos_por_continente, values = 'order_id', names = 'continente')

fig.update_layout(title=dict(text = "Distribución de ventas por continente",
                               font = dict(size = 30),
															 automargin = True,
															 yref = 'paper',
															 x = 0.2,
															 y = 1),
                  legend=dict( yanchor = "top", y = 0.99, xanchor = "right", x = 0.75))

fig.show()

In [361]:
# 3. Pedidos con retraso, o sin registro de llegada. Determinar si la compañía tiene relación o no mediante boxplot

df_pedidos_clientes_transportistas_retrasos = df_pedidos_clientes_transportistas[['order_id', 'shipper_name', 'shipped_date', 'required_date']]

df_pedidos_clientes_transportistas_retrasos

     order_id      shipper_name shipped_date required_date
0       10248  Federal Shipping   1996-07-16    1996-08-01
1       10249    Speedy Express   1996-07-10    1996-08-16
2       10250    United Package   1996-07-12    1996-08-05
3       10251    Speedy Express   1996-07-15    1996-08-05
4       10252    United Package   1996-07-11    1996-08-06
..        ...               ...          ...           ...
825     11073    United Package         None    1998-06-02
826     11074    United Package         None    1998-06-03
827     11075    United Package         None    1998-06-03
828     11076    United Package         None    1998-06-03
829     11077    United Package         None    1998-06-03

[830 rows x 4 columns]

In [362]:
# manipulación de las columnas 'shipped_date' y 'required_date' a tipo fecha para poder ver los días que pasan

# Paso 1: Convertir las columnas a datetime
df_pedidos_clientes_transportistas_retrasos['shipped_date'] = pd.to_datetime(df_pedidos_clientes_transportistas_retrasos['shipped_date'])
df_pedidos_clientes_transportistas_retrasos['required_date'] = pd.to_datetime(df_pedidos_clientes_transportistas_retrasos['required_date'])

# Paso 2: Restar las fechas y crear una nueva columna con la diferencia
df_pedidos_clientes_transportistas_retrasos['diferencia_dias'] = (df_pedidos_clientes_transportistas_retrasos['shipped_date'] - df_pedidos_clientes_transportistas_retrasos['required_date']).dt.days

# pasamos a int y ponemos a 0 los nulos
# df_pedidos_clientes_transportistas_retrasos['diferencia_dias'] = df_pedidos_clientes_transportistas_retrasos['diferencia_dias'].astype(int)

df_pedidos_clientes_transportistas_retrasos

df_pedidos_clientes_transportistas_retrasos.sort_values("diferencia_dias", axis=0, ascending=False, inplace=True, na_position='first')

df_pedidos_clientes_transportistas_retrasos

     order_id      shipper_name shipped_date required_date  diferencia_dias
760     11008  Federal Shipping          NaT    1998-05-06              NaN
771     11019  Federal Shipping          NaT    1998-05-11              NaN
791     11039    United Package          NaT    1998-05-19              NaN
792     11040  Federal Shipping          NaT    1998-05-20              NaN
797     11045    United Package          NaT    1998-05-21              NaN
..        ...               ...          ...           ...              ...
708     10956    United Package   1998-03-20    1998-04-28            -39.0
208     10456    United Package   1997-02-28    1997-04-08            -39.0
614     10862    United Package   1998-02-02    1998-03-13            -39.0
187     10435    United Package   1997-02-07    1997-03-18            -39.0
598     10846  Federal Shipping   1998-01-23    1998-03-05            -41.0

[830 rows x 5 columns]

In [363]:
# Analisis de nulos por empresa transportista 

df_pedidos_clientes_transportistas_retrasos['diferencia_dias'].isnull().sum()

# tenemos 21 nulos

21

In [364]:
# Estudiemos ahora los registros de llegada por compañía. Primero creamos una lista con los nombres de las compañías.
lista_transporte = df_pedidos_clientes_transportistas_retrasos['shipper_name'].unique().tolist()
lista_transporte

['Federal Shipping', 'United Package', 'Speedy Express']

In [365]:
for empresa in lista_transporte:
    df_pedidos_clientes_transportistas_retrasos_porempresa = df_pedidos_clientes_transportistas_retrasos[df_pedidos_clientes_transportistas_retrasos['shipper_name'] == empresa]

    porcentaje_nulos = df_pedidos_clientes_transportistas_retrasos_porempresa['diferencia_dias'].isnull().sum()/df_pedidos_clientes_transportistas_retrasos_porempresa.shape[0]*100 

    print(f'La empresa {empresa} no ha registrado un {round(porcentaje_nulos,2)}% de los viajes')

La empresa Federal Shipping no ha registrado un 2.35% de los viajes
La empresa United Package no ha registrado un 3.37% de los viajes
La empresa Speedy Express no ha registrado un 1.61% de los viajes

In [366]:
df_pedidos_clientes_llegan_a_tiempo = df_pedidos_clientes_transportistas_retrasos[df_pedidos_clientes_transportistas_retrasos['diferencia_dias'] <= 0]
df_pedidos_clientes_llegan_a_tiempo.shape[0]

# Hay 772 pedidos donde la diferencia es negativa, por tanto llegan a tiempo al cliente

772

In [367]:
df_pedidos_clientes_no_llegan_a_tiempo = df_pedidos_clientes_transportistas_retrasos[df_pedidos_clientes_transportistas_retrasos['diferencia_dias'] > 0]
df_pedidos_clientes_no_llegan_a_tiempo.shape[0]

# Hay 37 pedidos donde la diferencia es positiva, por tanto se entregan con retraso

37

In [368]:
#Realizamos un diagrama de cajas para poder sacar información sobre la distribución de los días de retraso por compañía.
fig = px.box(df_pedidos_clientes_transportistas_retrasos, y = 'diferencia_dias', color = 'shipper_name')

fig.show()

In [369]:
df_pedidos_clientes_valor_no_registrado = df_pedidos_clientes_transportistas_retrasos[df_pedidos_clientes_transportistas_retrasos['diferencia_dias'].isna()]
df_pedidos_clientes_valor_no_registrado.shape

# Hay 21 pedidos los cuales tenemos nulos, no sabemos la fecha de entrega. sin datos.

(21, 5)

In [370]:
# para el boxplot vamos a omitir:
# - los registros de pedidos dónde tenemos un 0 en la nueva columna 'diferencia de dias' que indica que no se han enviado 
# - los registros de pedidos dónde tenemos un valor negativo, en la nueva columna 'diferencia de dias' que no tiene sentido, o debería de ser un error en la introducción del dato
df_pedidos_clientes_llegan_a_tiempo

     order_id      shipper_name shipped_date required_date  diferencia_dias
730     10978    United Package   1998-04-23    1998-04-23              0.0
540     10788    United Package   1998-01-19    1998-01-19              0.0
750     10998    United Package   1998-04-17    1998-04-17              0.0
260     10508    United Package   1997-05-13    1997-05-14             -1.0
547     10795    United Package   1998-01-20    1998-01-21             -1.0
..        ...               ...          ...           ...              ...
708     10956    United Package   1998-03-20    1998-04-28            -39.0
208     10456    United Package   1997-02-28    1997-04-08            -39.0
614     10862    United Package   1998-02-02    1998-03-13            -39.0
187     10435    United Package   1997-02-07    1997-03-18            -39.0
598     10846  Federal Shipping   1998-01-23    1998-03-05            -41.0

[772 rows x 5 columns]

In [371]:
fig = px.box(df_pedidos_clientes_llegan_a_tiempo, x = 'diferencia_dias',labels = {'Diferencia de dias':'Diferencia de dias'})
fig.update_layout(title = dict(text = "Días en tránsito de los pedidos (required date - shipped date)", font = dict(size = 20), automargin = True, yref = 'paper', x = 0.2,y = 1))

fig.show()

# se determina una mediana en 8 días, y los rangos son para el primer de 5, y para el tercero de 12. Hay 3 outliers en 28, 30 y 31 días.

In [372]:
# determinar las 5 empresas que más retrasos acumulan 
df_pedidos_clientes_retrasos_por_compañia = df_pedidos_clientes_no_llegan_a_tiempo.groupby('shipper_name')[['diferencia_dias']].sum().reset_index()

df_pedidos_clientes_retrasos_por_compañia.sort_values("diferencia_dias", axis=0, ascending=False, inplace=True, na_position='first')

df_pedidos_clientes_retrasos_por_compañia.head()

       shipper_name  diferencia_dias
1    Speedy Express             97.0
2    United Package             89.0
0  Federal Shipping             50.0

In [373]:
# 4 diferencia entre el precio pagado en cada pedido. Averigüa la distribución media del precio del pedido por país de procedencia del cliente. Realiza la visualización que creas más conveniente para sacar conclusiones

sql_query = ''' SELECT order_id, 
               SUM(unit_price*quantity-discount*unit_price*quantity) AS "Total_Pedido"
FROM order_details
GROUP BY order_id
            '''
sum_pedido = ejecutar_query(sql_query)
sum_pedido

     order_id  Total_Pedido
0       11038    732.599998
1       10782     12.500000
2       10725    287.799995
3       10423   1020.000000
4       10518   4150.050007
..        ...           ...
825     10707   1641.000000
826     10826    730.000000
827     10371     72.959999
828     10575   2147.399986
829     10809    140.000000

[830 rows x 2 columns]

In [374]:
# unimos DF, agrupamos por pais y ordenamos
total_pedidos = sum_pedido.merge(df_pedidos_clientes_transportistas, how = 'inner', left_on = 'order_id', right_on = 'order_id')

total_pais = total_pedidos.groupby('country')['Total_Pedido'].mean().reset_index()

total_pais.sort_values(by = 'Total_Pedido',ascending = False,inplace=True)

In [375]:
#Hagasmos una visualización para ver en qué países se gastan más dinero de media por pedido
fig = px.bar(total_pais, x = 'country', y = 'Total_Pedido')

fig.show()

In [376]:
# 5. hay clientes que no hayan comprado nunca? que porcentaje de clientes no tienen pedidos registrados?

sql_query = ''' SELECT c.customer_id, c.company_name, c.country, o.order_id
FROM customers AS c
LEFT JOIN orders AS o 
ON c.customer_id = o.customer_id
 '''
df_join_pedido_cliente = ejecutar_query(sql_query)
df_join_pedido_cliente.head()
df_join_pedido_cliente

    customer_id                          company_name      country  order_id
0         VINET             Vins et alcools Chevalier       France   10248.0
1         TOMSP                    Toms Spezialitäten      Germany   10249.0
2         HANAR                         Hanari Carnes       Brazil   10250.0
3         VICTE                  Victuailles en stock       France   10251.0
4         SUPRD                      Suprêmes délices      Belgium   10252.0
..          ...                                   ...          ...       ...
827       RICSU                    Richter Supermarkt  Switzerland   11075.0
828       BONAP                              Bon app'       France   11076.0
829       RATTC            Rattlesnake Canyon Grocery          USA   11077.0
830       PARIS                     Paris spécialités       France       NaN
831       FISSA  FISSA Fabrica Inter. Salchichas S.A.        Spain       NaN

[832 rows x 4 columns]

In [377]:
# miramos el numero de nulos
df_clientes_sin_comprar = df_join_pedido_cliente[df_join_pedido_cliente['order_id'].isnull()]
df_clientes_sin_comprar

# tenemos dos clientes que nunca han comprado: PARIS, y FISSA

    customer_id                          company_name country  order_id
830       PARIS                     Paris spécialités  France       NaN
831       FISSA  FISSA Fabrica Inter. Salchichas S.A.   Spain       NaN

In [378]:
# porcentaje de clientes que no han comprado
clientes_unicos = len(df_join_pedido_cliente['customer_id'].unique())
clientes_sin_comprar = len(df_join_pedido_cliente[df_join_pedido_cliente['order_id'].isnull()])

print(f"El porcentaje de clientes que no nos han comprado es de {(clientes_sin_comprar / clientes_unicos * 100):.2f}")

El porcentaje de clientes que no nos han comprado es de 2.20

In [379]:
# detalle y numero de pedidos de clientes que SI han comprado

num_ped = df_pedidos_clientes.groupby('customer_id')['order_id'].count().sort_values(ascending = True)

num_ped = num_ped.reset_index()
num_ped = num_ped.rename(columns = {"order_id" : "total_pedidos"})

num_ped = num_ped.sort_values("total_pedidos", axis=0, ascending=True, na_position='first')
num_ped

   customer_id  total_pedidos
0        CENTC              1
1        GROSR              2
2        LAZYK              2
3        LAUGB              3
4        TRAIH              3
..         ...            ...
85       HUNGO             19
84       FOLKO             19
86       QUICK             28
87       ERNSH             30
88       SAVEA             31

[89 rows x 2 columns]

In [380]:
# 6. Estudia los productos más demandados e investiga cuál es necesario hacer reestock (20 unidades o menos sin previsión de llegada)

prod_demand = prod_provee_det.groupby('Nombre_Producto')['order_id'].count().reset_index()
prod_demand

                    Nombre_Producto  order_id
0                      Alice Mutton        37
1                     Aniseed Syrup        12
2                  Boston Crab Meat        41
3                 Camembert Pierrot        51
4                  Carnarvon Tigers        27
..                              ...       ...
72  Uncle Bob's Organic Dried Pears        29
73                 Valkoinen suklaa        10
74                     Vegie-spread        17
75        Wimmers gute Semmelknödel        30
76                    Zaanse koeken        21

[77 rows x 2 columns]

In [381]:
#Creamos el diagrama de barras ordenando de forma descendente para que primero aparezcan los productos más pedidos.
fig = px.bar(prod_demand, x = 'Nombre_Producto', y = 'order_id')
fig.update_layout(barmode = 'stack', xaxis = {'categoryorder':'total descending'})
fig.show()

In [382]:
#Creamos las condiciones para ver qué de qué productos es necesario hacer restock.
#Primero creamos la condición de que queden 20 o menos unidades en stock
menor_20 = prod_provee_det['Unidades_Stock']<= 20
#Ahora cremaos la condución de que sólo usemos los productos que no tenemos unidades pedidas al proveedor
sin_pedidos = prod_provee_det['Unidades_Pedidas'] == 0
#Además, elegimos sólo productos que no esten descontinuados.
no_disc = prod_provee_det['Producto_Descontinuado'] == 0
#Creamos un Df con las tres condiciones anteriores
prod_restock = prod_provee_det[menor_20 & sin_pedidos & no_disc]['Nombre_Producto'].reset_index()
prod_restock

     index                  Nombre_Producto
0        2           Mozzarella di Giovanni
1        4            Manjimup Dried Apples
2        6            Manjimup Dried Apples
3       13                Camembert Pierrot
4       36                   Tarte au sucre
..     ...                              ...
337   2101            Nord-Ost Matjeshering
338   2115  Uncle Bob's Organic Dried Pears
339   2134  Uncle Bob's Organic Dried Pears
340   2135       Northwoods Cranberry Sauce
341   2149                Camembert Pierrot

[342 rows x 2 columns]

In [383]:
#Vemos los valores únicos para saber qué productos cumplen todas las condiciones
prod_restock['Nombre_Producto'].unique()


#La solución es 'Camembert Pierrot' ya que es el 4 producto más pedido y es uno de los que cumple las condiciones necesarias para hacer restock

array(['Mozzarella di Giovanni', 'Manjimup Dried Apples',
       'Camembert Pierrot', 'Tarte au sucre', 'Steeleye Stout',
       "Uncle Bob's Organic Dried Pears", 'Nord-Ost Matjeshering',
       'Côte de Blaye', 'Gumbär Gummibärchen',
       'Northwoods Cranberry Sauce'], dtype=object)

In [384]:
# EJERCICIO 4 QUERIES AVANZADAS

In [385]:
# 1. Cuándo fue la última vez que se pidió un producto de cada categoría?

sql_query = ''' SELECT 
                    c.category_name,
	                MAX(o.order_date) as ultima_fecha_pedido
                FROM 
                    orders AS o
                JOIN 
                    order_details AS od ON o.order_id = od.order_id
                JOIN 
                    products AS p ON od.product_id = p.product_id
                JOIN 
                    categories AS c ON p.category_id = c.category_id
                GROUP BY
                    c.category_name
                ORDER BY 
                    c.category_name;
            '''
df_fecha_ultimo_pedido_por_categoria = ejecutar_query(sql_query)
df_fecha_ultimo_pedido_por_categoria

    category_name ultima_fecha_pedido
0       Beverages          1998-05-06
1      Condiments          1998-05-06
2     Confections          1998-05-06
3  Dairy Products          1998-05-06
4  Grains/Cereals          1998-05-06
5    Meat/Poultry          1998-05-06
6         Produce          1998-05-06
7         Seafood          1998-05-06

In [386]:
# 2. Hay algun producto que no se haya vendido nunca por su precio original? == producto que siempre se haya vendido con algún descuento? (discount >0)

sql_query = ''' SELECT p.product_id, p.product_name
                FROM products AS p
                LEFT JOIN order_details AS od
                ON p.product_id = od.product_id
                GROUP BY p.product_id, p.product_name
                HAVING MIN(od.discount) > 0
            '''


df_producto_siempre_con_descuento = ejecutar_query(sql_query)
df_producto_siempre_con_descuento

# Todos los productos, al menos en alguna ocasión se han vendido a su precio original

'Sin resultados'

In [387]:
# comprobación a la inversa. Ver todos los productos que alguna vez se han comprado con descuento

sql_query = ''' SELECT DISTINCT p.product_id, p.product_name
                FROM products AS p
                JOIN order_details AS od
                ON p.product_id = od.product_id
                WHERE od.discount > 0;
            '''

df_producto_alguna_vez_con_descuento = ejecutar_query(sql_query)
df_producto_alguna_vez_con_descuento

    product_id                     product_name
0           17                     Alice Mutton
1           53                    Perth Pasties
2           60                Camembert Pierrot
3           55                     Pâté chinois
4           35                   Steeleye Stout
..         ...                              ...
72          18                 Carnarvon Tigers
73           6     Grandma's Boysenberry Spread
74          56           Gnocchi di nonna Alice
75          73                       Röd Kaviar
76          41  Jack's New England Clam Chowder

[77 rows x 2 columns]

In [388]:
# 3. Ver el detalle de los productos con categoría "Confections"

sql_query = ''' SELECT p.product_id, p.product_name, c.category_id
                FROM products AS p
                JOIN categories AS c
                ON p.category_id = c.category_id
                WHERE c.category_name = 'Confections'
            '''

df_productos_cat_confections = ejecutar_query(sql_query)
df_productos_cat_confections

    product_id                product_name  category_id
0           16                     Pavlova            3
1           19  Teatime Chocolate Biscuits            3
2           20      Sir Rodney's Marmalade            3
3           21         Sir Rodney's Scones            3
4           25     NuNuCa Nuß-Nougat-Creme            3
5           26         Gumbär Gummibärchen            3
6           27          Schoggi Schokolade            3
7           47               Zaanse koeken            3
8           48                   Chocolade            3
9           49                    Maxilaku            3
10          50            Valkoinen suklaa            3
11          62              Tarte au sucre            3
12          68         Scottish Longbreads            3

In [389]:
# 4 Revisar si existe algún proveedor, el cual tenga todos sus productos discontinuados

sql_query = ''' SELECT s.supplier_id, s.company_name
                FROM suppliers AS s
                JOIN products AS p ON s.supplier_id = p.supplier_id
                GROUP BY s.supplier_id, s.company_name
                HAVING COUNT(CASE WHEN p.discontinued = 0 THEN 1 END) = 0;
            '''

df_proveedor_todos_sus_productos_descontinuados = ejecutar_query(sql_query)
df_proveedor_todos_sus_productos_descontinuados

# tenemos al proveedor 10, 'refrescos americanas' que tiene todos sus productos discontinuados, por lo tanto podríamos prescindir de él

   supplier_id               company_name
0           10  Refrescos Americanas LTDA

In [390]:
# para acabar de revisar si es correcto vamos a realizar otra consulta más amplia donde se muestra el numero total de productos, y los discontinuados agrupados por proveedor

sql_query = ''' SELECT 
                p.supplier_id, s.company_name,
                count(p.product_id) as num_productos, 
                SUM(CASE WHEN p.discontinued = 1 THEN 1 ELSE 0 END) AS num_productos_discontinuados
                FROM products AS p
                JOIN suppliers AS s
                ON p.supplier_id = s.supplier_id
                GROUP BY p.supplier_id, s.company_name
            '''

# SELECT s.company_name AS "Compañia", 
#                COUNT(p.discontinued)-sum(p.discontinued) AS "Num_Prod_No_Descontinuados" --Restamos todos los productos por compañía menos los descontinuados. Si da 0 es que todos los productos están descontinuados.
# FROM suppliers AS s
# INNER JOIN products AS p
# ON p.supplier_id = s.supplier_id
# GROUP BY s.company_name
# ORDER BY "Num_Prod_No_Descontinuados


df_productos_proveedores = ejecutar_query(sql_query)
df_productos_proveedores['Todos discontinuados'] = (df_productos_proveedores['num_productos']-df_productos_proveedores['num_productos_discontinuados']) == 0
df_productos_proveedores

,supplier_id,company_name,num_productos,num_productos_discontinuados,Todos discontinuados
0,28,Gai pâturage,2,0,False
1,4,Tokyo Traders,3,1,False
2,13,Nord-Ost-Fisch Handelsgesellschaft mbH,1,0,False
3,7,"Pavlova, Ltd.",5,1,False
4,15,Norske Meierier,3,0,False
5,23,Karkki Oy,3,0,False
6,9,PB Knäckebröd AB,2,0,False
7,14,Formaggi Fortini s.r.l.,3,0,False
8,21,Lyngbysild,2,0,False
9,1,Exotic Liquids,2,1,False
10,19,New England Seafood Cannery,2,0,False
11,20,Leka Trading,3,1,False
12,29,Forêts d'érables,2,0,False
13,5,Cooperativa de Quesos 'Las Cabras',2,0,False
14,11,Heli Süßwaren GmbH & Co. KG,3,0,False
15,22,Zaanse Snoepfabriek,2,0,False
16,25,Ma Maison,2,0,False
17,6,Mayumi's,3,0,False
18,16,Bigfoot Breweries,3,0,False
19,18,Aux joyeux ecclésiastiques,2,0,False
20,10,Refrescos Americanas LTDA,1,1,True
21,8,"Specialty Biscuits, Ltd.",5,1,False
22,2,New Orleans Cajun Delights,4,1,False
23,26,Pasta Buttini s.r.l.,2,0,False
24,24,"G'day, Mate",3,1,False
25,12,Plutzer Lebensmittelgroßmärkte AG,5,2,False
26,3,Grandma Kelly's Homestead,3,0,False
27,27,Escargots Nouveaux,1,0,False
28,17,Svensk Sjöföda AB,3,0,False

In [391]:
df_productos_proveedores_todos_discontinuados = df_productos_proveedores[df_productos_proveedores['Todos discontinuados'] == True] 
df_productos_proveedores_todos_discontinuados

,supplier_id,company_name,num_productos,num_productos_discontinuados,Todos discontinuados
20,10,Refrescos Americanas LTDA,1,1,True

In [392]:
# 5. Extraer los clientes que compraron mas de 30 articulos "Chai" en un único pedido

sql_query = ''' SELECT c.customer_id, c.company_name, o.order_id, od.quantity, p.product_name
                FROM orders AS o
                JOIN customers as c
                ON c.customer_id = o.customer_id
                JOIN order_details AS od
                ON o.order_id = od.order_id
                JOIN products AS p
                ON od.product_id = p.product_id
                WHERE p.product_name = 'Chai' AND od.quantity > 30
            '''

df_clientes_chai_masde30u = ejecutar_query(sql_query)
df_clientes_chai_masde30u

# 9 clientes han realizado pedidos de más de 30 unidades de Chai

  customer_id           company_name  order_id  quantity product_name
0       QUICK             QUICK-Stop     10285        45         Chai
1       LEHMS    Lehmanns Marktstand     10522        40         Chai
2       BERGS     Berglunds snabbköp     10689        35         Chai
3       LINOD       LINO-Delicateses     10729        50         Chai
4       SAVEA     Save-a-lot Markets     10847        80         Chai
5       SEVES     Seven Seas Imports     10869        40         Chai
6       BOTTM  Bottom-Dollar Markets     10918        60         Chai
7       SAVEA     Save-a-lot Markets     11031        45         Chai
8       LEHMS    Lehmanns Marktstand     11070        40         Chai

In [393]:
# 6. Indica los clientes cuya suma total de carga en los pedidos sea mayor de 1000

sql_query = ''' SELECT "customer_id", "company_name" AS "Cliente"
                FROM customers
                WHERE "customer_id" IN (
                    SELECT "customer_id"
                    FROM "orders"
                    GROUP BY "customer_id"
                    HAVING SUM("freight") > 1000); 
            '''

df_clientes_sumacarga__masde1000 = ejecutar_query(sql_query)
df_clientes_sumacarga__masde1000

# practicamente todos los clientes acumulan unas compras > 1000. Unicamente 5 clientes no la cumplen

   customer_id                       Cliente
0        BERGS            Berglunds snabbköp
1        BONAP                      Bon app'
2        ERNSH                  Ernst Handel
3        FOLKO                Folk och fä HB
4        FRANK                Frankenversand
5        GREAL       Great Lakes Food Market
6        HILAA              HILARION-Abastos
7        HUNGO  Hungry Owl All-Night Grocers
8        LEHMS           Lehmanns Marktstand
9        MEREP                Mère Paillarde
10       PICCO              Piccolo und mehr
11       QUEEN                 Queen Cozinha
12       QUICK                    QUICK-Stop
13       RATTC    Rattlesnake Canyon Grocery
14       RICSU            Richter Supermarkt
15       SAVEA            Save-a-lot Markets
16       WHITC          White Clover Markets

In [394]:
# 7. Nombres de las ciudades con 3 o más empleadas de cara a estudiar la apertura de nuevas oficinas

sql_query = ''' SELECT city, count(employee_id) AS total_employees
                FROM employees
                GROUP BY city
                HAVING count(employee_id) > 3
            '''

df_ciudades_masde3_empleados = ejecutar_query(sql_query)
df_ciudades_masde3_empleados

# Se determina que únicamente para la ciudad de Londres sería necesario abrir nueva oficinas

     city  total_employees
0  London                4